<div class="banner d-flex flex-column align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
  <h1 class=" title">Save any kind of movies</h1>
  <p class="subtitle">
    <span id="banner-typed-text"></span>
  </p>
</div>

<div class="container mt-5">
  <h2>My Lists</h2>
  <div class="d-flex">
    <div class="d-flex flex-wrap lists-container">
      <% @lists.each do |list| %>
        <%= link_to(list_path(list)) do %>
          <div class="background-list-card list-card d-flex align-items-center justify-content-center mr-3 mb-3 rounded" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path list.photo.key, height: 1000, crop: :fit %>')"> <!-- scale, fit, fill, limit, pad, crop. -->
            <p class="list-name"> <%= list.name %> </p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= link_to "Create a movie list", new_list_path, class: "btn btn-success btn-white"  %>
    </div>
  </div>
</div>


