// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "listcard";
@import "form";
@import "moviecard";


.color-white {
  color: #FFF;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 25px;
}
