.background-list-card {
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.list-card {
  width: 400px;
  height: 200px;
  transition-property: transform 0.2s ease-in-out;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1.05);
  }
}

.lists-container {
  width: 80%;
}

.btn-white {
  color: #FFF;
}

.list-name{
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}
