.background-list-card {
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.list-card {
  width: 400px;
  height: 200px;
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
}

.lists-container {
  width: 80%;
}

.btn-white {
  color: #FFF;
}
