.background-movie-card {
  background: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-card {
  width: 535px;
}

.movie-poster {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.movie-title {
  font-weight: bold;
  font-size: 1em;
}

.star {
  color: $info;
}

.movie-rating {
  font-size: 1em;
  color: #8f8f8f;
  margin: 0;
}

.movie-point {
  font-size: 2em;
  color: #8f8f8f;
  margin: 0;
}

.btn-red {
  color: red;
}

.movie-overview {
  font-size: 0.8em;
  color: #8f8f8f;
}
